/* Universal */
*{
    box-sizing: border-box;
}

:root{
    --blue: #00BFFF;
    --grey: #C0C0C0;
    --red: #ff0000;
    --green: #008000;
}

body{
    font-size: 1.7rem;
    line-height: 1.2;
}


/* Utility */
.delete{
    color: var(--grey);
}

.delete:hover{
    cursor: pointer;
    color: var(--red);
}

.btn{
    padding: 1rem 3rem;
    cursor: pointer;
}

.btn, input{
    border: 2px solid rgb(238, 238, 238);
    outline: none;
    font-size: inherit;
    border-radius: 4px;
} 

@media(hover){

    .btn:hover,
    input:hover{
    border: 2px solid var(--grey);
    }
}

.btn:active,
input:focus{
    border: 2px solid var(--blue);
}


.container{
    max-width: 1100px;
    margin: auto;
}

.form-group > input,
.form-group > label{
    display: block;
    width: 100%;
}

.form-group > label{
    margin-bottom: 1rem;
}

.form-group > input{
    padding: 1rem;
    margin-bottom: 2rem;
}

.form-group .btn{
    margin: 1.5rem 0 3.5rem 0;
}

.wrapper{
    text-align: center;
}

/* Library */

.library{
    padding: 0 2rem;
}
.library__heading{
    text-align: center;
    font-weight: normal;
}

.library__books > :last-child{
    margin-bottom: 0;
}
.library__book-columns{
    text-shadow: 1px 0 0;
}

.library__book-columns,
.library__book{
    display: flex;
    margin-bottom: 3.5rem;
}

.library__book-columns > *,
.library__book > *{
    flex: 1;
}

.library__book-columns :last-child,
.library__book :last-child{
    flex: 0;
}

.library__book-columns :last-child{
    visibility: hidden;
}



/* Alert */

.alert-wrapper{
    display: flex;
    justify-content: center;
}

.alert{
    display: flex;
    align-items: center;
    position: fixed;
    padding: 2.5rem;
    border-radius: 5px;
    visibility: hidden;
    animation: show 4s;
}

.alert--success{
    background: var(--green);
    color: #fff;
}

.alert--error{
    background: var(--red);
    color: #fff;
}

.alert__icon{
    margin-right: 1.6rem;
}

/* Animation */

@keyframes show{
    0%, 100%{
        visibility: visible;
        opacity: .1;
        bottom: 0;
    }

    5%, 95%{
        opacity: .7;
        bottom: 50px;
    }
}
